@page "/reports"
@rendermode InteractiveServer
@inject ILogger<ReportsPage> Logger
@inject IReportStateService ReportState
@using System.Globalization
@using Service.Admin.Web.Communication.Reports
@using Service.Admin.Web.Communication.Reports.State
@implements IDisposable

<PageTitle>Tracing Results</PageTitle>

<div class="full-page">
    <div class="sub-component">
        <ErrorBoundary>
            <ChildContent>
                <ReportTable Items="@ReportState.Reports" T="ReportRecord">
                    <HeaderTemplate>
                        <th>Date</th>
                        <th>Use case</th>
                        <th>Result</th>
                    </HeaderTemplate>
                    <RowTemplate>
                        <td>@context.TimeStamp.ToString("dd.MM.yyyy HH:mm:ss", CultureInfo.GetCultureInfo("de-DE"))</td>
                        <td>@context.useCase</td>
                        <td>@context.State</td>
                    </RowTemplate>
                </ReportTable>
            </ChildContent>
            <ErrorContent Context="ex">
                <div class="alert alert-danger">
                    @ex.Message
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </div>
</div>

@code {

    protected override Task OnInitializedAsync()
    {
        ReportState.OnStateChanged += StateHasChanged;
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        ReportState.OnStateChanged -= StateHasChanged;
    }

}